* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./img/fundotarot.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}

button {
    padding: 10px 30px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: rgb(24, 73, 105) 10px 12px 10px;
    border-radius: 25px;
    font-size: 1.2rem;
}

.carta {
    width: 250px;
    height: 350px;
    background-color: #fff;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: rgb(24, 73, 105) 10px 12px 10px;
    position: relative; 
}

.meio {
    position: absolute;
    font-size: 2rem;
    text-align: center;
}

#supMeio {
    top: 5px;
    left: 46%;
    font-size: 1rem;
}

#infMeio {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 1rem;
}

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;          
}
.centro img {
    max-width: 50%;
    height: auto;
}
