* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    background-color: #f0f0f0;
    font-family: sans-serif;
}

button{
    padding: 10px 30px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 25px;
    font-size: 1.2rem;
}

.carta{
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    margin-bottom: 50px;
    box-shadow: rgba(0,0,0, 0.4) -2px 2px;
    /* position: relative;
        fixed: fixa o elemento no documento
        relative
        absolute: fixa o elemento com referencia ao relative

        Neste exemplo os elementos absolute vão se posicionar na classe carta e não na classe container ou no documento
    */
    position: relative;
}

.canto{
    position: absolute;
    font-size: 2rem;
    text-align: center;
}

#supEsq{
    top:20px;
    left: 15px;
}

#infDir{
    bottom: 25px;
    right: 15px;
}

#centroCarta{
    text-align: center;

}